    <!doctype html>
    <link rel="stylesheet" href="../static/css/netdna.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/blueimp.css">
    <link rel="stylesheet" href="../static/css/jquery.fileupload.css">
    <link rel="stylesheet" href="../static/css/jquery.fileupload-ui.css">
    <noscript><link rel="stylesheet" href="../static/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="../static/css/jquery.fileupload-ui-noscript.css"></noscript>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/vendor/jquery.ui.widget.js"></script>
    <script src="../static/js/tmpl.min.js"></script>
    <script src="../static/js/load-image.all.min.js"></script>
    <script src="../static/js/canvas-to-blob.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/gallery.min.js"></script>
    <script src="../static/js/jquery.iframe-transport.js"></script>
    <script src="../static/js/jquery.fileupload.js"></script>
    <script src="../static/js/jquery.fileupload-process.js"></script>
    <script src="../static/js/jquery.fileupload-image.js"></script>
    <script src="../static/js/jquery.fileupload-audio.js"></script>
    <script src="../static/js/jquery.fileupload-video.js"></script>
    <script src="../static/js/jquery.fileupload-validate.js"></script>
    <script src="../static/js/jquery.fileupload-ui.js"></script>
    <script src="../static/js/main.js"></script>

    <title>Upload new File</title>
    <h1>Upload new File</h1>

    <div class="container">
    <h1>Printing Queue for MUNI 2015</h1>
    <h2 class="lead">version 0.0.0</h2>
    </div>

    <div class="row fileupload-buttonbar">
    <div class="col-lg-7">
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file><br>
        Please put in your committee name (required)<input type=text name=committee required><br>
        Please put in your file title (required)   <input type=text name=title required><br>
        <button type="submit" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Upload</span>
        </button>
    </form>
    </div>
    </div>